@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #e2ebf3;
  text-align: center;
}

.logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  // border: 1px solid black;
  background-color: white;
  line-height: .75;
}
